{{! Footer partial }}
<footer role="contentinfo" class="layout__footer resonance__footer">
    <section><a href="{{@blog.url}}/">{{@blog.title}}</a> &mdash; a suit tailored for <a href="http://ghost.org">Ghost</a> crafted by <a href="http://twitter.com/@amlinarev">@amlinarev</a></section>        
</footer>