{{! Navigation partial }}
<nav role="navigation" class="layout__navigation">
	<ul class="navigation navigation__primary">
	    <li><a class="navigation__primary__link" href="/the-story">The story</a></li>
	    <li><a class="navigation__primary__link" href="/inspiration">Inspiration</a></li>
	    <li><a class="navigation__primary__link menu-close" href="javascript:void(0)">Close</a></li>
	</ul>
</nav>