{{! Social partial }}
<section class="social">
    <h2 class="social__title">Share the love!</h2>

    <a class="social__icon" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="icon icon--small icon--twitter"></i>
    </a>
    <a class="social__icon" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <i class="icon icon--small icon--facebook"></i>
    </a>
    <a class="social__icon" href="https://plus.google.com/share?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
       <i class="icon icon--small icon--googleplus"></i>
    </a>
</section>