// Buttons
.btn {
	@include single-transition(all, .3s);
	font-family: $sans-font-family;
	display: inline-block;
	border: 0;
	padding: 0;
	&--primary {
		background: $primary-color;
		color: white;
		&:hover, &:focus {
			background: $secondary-color;
			color: white;
		}
		&:active {
			background: darken($secondary-color, 15%);
		}
	}
	&--secondary {
		background: $secondary-color;
	}
	&--tiny {
		@include padding-trailer(0.125);
		@include padding-leader(0.125);
		@include hspace(0.5,0.5);
		@extend %t-tiny;
	}
	&--small {
		@include padding-trailer(0.25);
		@include padding-leader(0.25);
		@include hspace(0.75,0.75);
		@extend %t-small;
	}
	&--medium {
		@include padding-trailer(0.5);
		@include padding-leader(0.5);
		@include hspace(1,1);
		@extend %t-base;
	}
	&--large {
		@include padding-trailer(0.5);
		@include padding-leader(0.5);
		@include hspace(1.25,1.25);
		@extend %t-medium;
	}
	&--radial {
		@include border-radius($global-radius);
	}
	&--rounded {
		@include border-radius($global-rounded);	
	}
}